* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default Sizes */
h1 {
  font-size: 56px;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: 46px;
  line-height: 1.3;
  margin: 0;
}

h3 {
  font-size: 40px;
  line-height: 1.3;
  margin: 0;
}

h4 {
  font-size: 32px;
  line-height: 1.4;
  margin: 0;
}

h5 {
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

h6 {
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}


span {
  font-size: 16px;
  color: black;
}

/* Responsive Sizes */
@media (max-width: 1200px) {
  h1 {
    font-size: 50px;
    line-height: 1.2;
  }
  h2 {
    font-size: 35px;
    line-height: 1.3;
  }
  h3 {
    font-size: 36px;
    line-height: 1.3;
  }
  h4 {
    font-size: 30px;
    line-height: 1.4;
  }
  h5 {
    font-size: 22px;
    line-height: 1.5;
  }
  h6 {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 44px;
    line-height: 1.2;
  }
  h2 {
    font-size: 38px;
    line-height: 1.3;
  }
  h3 {
    font-size: 32px;
    line-height: 1.3;
  }
  h4 {
    font-size: 28px;
    line-height: 1.4;
  }
  h5 {
    font-size: 20px;
    line-height: 1.5;
  }
  h6 {
    font-size: 15px;
    line-height: 1.6;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  h2 {
    font-size: 34px;
    line-height: 1.3;
  }
  h3 {
    font-size: 28px;
    line-height: 1.3;
  }
  h4 {
    font-size: 24px;
    line-height: 1.4;
  }
  h5 {
    font-size: 18px;
    line-height: 1.5;
  }
  h6 {
    font-size: 14px;
    line-height: 1.6;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 25px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 16px;
    line-height: 1.5;
  }
  h6 {
    font-size: 12px;
    line-height: 1.6;
  }
}

body {
  font-family: "roboto", sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Base Button Style */
.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none; /* Ensure no underlines */
  color: white;
}

/* Primary Button Style */
.btn-primary {
  background-color: #831843;
  color: white;
  border: 2px solid #831843;
}

.btn-primary:hover {
  background-color: #ee95ab; /* Darker blue on hover */
  border-color: #ee95ab; /* Darker border color on hover */
}

.btn-primary:active {
  background-color: #ee95ab; /* Even darker blue when clicked */
  border-color: #ee95ab;
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 5px #ee95ab;
}
.btn-secondary {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.btn-secondary:hover {
  background-color: #ee95ab;
  border-color: #ee95ab;
  color: white;
}

.btn-secondary:active {
  background-color: #ee95ab; /* Even darker blue when clicked */
  border-color: #ee95ab;
}

.btn-secondary:focus {
  outline: none;
  box-shadow: 0 0 5px #ee95ab; /* Subtle blue outline when focused */
}

/* Ensure smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Navbar styles */
.navbar {
  transition: transform 0.3s ease-in-out; /* Smooth transition for sliding effect */
}

/* Active state for mobile navbar */
.navbar.active {
  transform: translateX(0); /* Slide in from the right */
}

.bar {
  transition: 0.3s ease-in-out;
}

#mobile-menu.active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(10px); /* Cross effect */
}

#mobile-menu.active .bar:nth-child(2) {
  opacity: 0; /* Hide middle bar */
}

#mobile-menu.active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px); /* Cross effect */
}


.bg-brown {
  background-color: #927252;
}
